<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="phpro_translations" id="phpro_translations">
			<module before="Magento_Backend" name="Phpro_Translations"/>
		</route>
	</router>
</config>
